<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Zero Hunger</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let menuItem of menuItems | async" >
    <ion-card-header>
    {{ menuItem.title }} 
    </ion-card-header>
    <img *ngIf="menuItem.imageURI != null" [src]="menuItem.image | async" />
    <ion-card-content>
      The image URL is: {{ menuItem.image }}
      {{ menuItem.description }}
      <ion-grid>
        <ion-row>
      <ion-col col-4><button ion-button (click)="removeFromOrder(menuItem)">-</button>
      </ion-col>
      <ion-col col-4 text-center><div padding-vertical><h1>{{ currentOrder.getCount(menuItem.title) }} </h1></div>
      </ion-col>1
      <ion-col col-4 text-right><button ion-button (click)="addToOrder(menuItem)">+</button>
    </ion-col>
    </ion-row>
    </ion-grid>
    <div text-right>${{ menuItem.cost }}</div>
    </ion-card-content>
    </ion-card>
  <ion-footer [hidden]="currentOrder.empty()"> 
    <ion-toolbar>
      <ion-title>Total: ${{currentOrder.getTotal()}}</ion-title> 
      <ion-buttons end>
      <button ion-button [hidden]="currentOrder.empty()" (click)='pushCustomerInfoPage()'>Next</button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
